*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html, body{
    display: block;
    height: 100vh;
    width: 100vw;
}
canvas{
    display: none;
}
body{
background-color: rgb(255, 253, 201);
overflow-x: hidden;
}
.ReguladorFlujo{
    clear: both;
}
.Separador{
    padding: 10px;
}
.ContenedorAll{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 50, 0.5) 2px 2px 10px;

}
.E_20px{
    padding: 15px;
}